{% extends "base.html" %}
{% load static %}


{% block content %}

    <script>
        function open_close_filter_menu() {
            let filter = document.getElementById('filter')
            if (filter.style.display == 'flex') {
                filter.style.display = 'none';
            } else {
                filter.style.display = 'flex';
            }
        }
    </script>

    <h1>Udalosti</h1>

    <div class="filter_div">
        <button class="dropbtn_filter" onclick="open_close_filter_menu()">Filter</button>
        <form method="get" id="filter" {% if open_filter %}
             style="display: flex"
        {% endif %}>
            {{ log_filter.form.as_p }}
            <div id="log_filter">
                <button type="submit" class="active-btn"><img id="btn-image"
                                                              src="{% static 'icons/2931184_glass_search_magnifying_magnifier_zoom_regular_normal.png' %}">Vyhľadať
                </button>
                <button type="button" class="active-btn"><a href="index/"><img id="btn-image"
                                                                               src="{% static 'icons/2931151_delete_x_bin_recycle_remove_exit_close.png' %}">Vymazať</a>
                </button>
            </div>
        </form>
    </div>

    <div class="btn-group">
        <button type="button" class="active-btn">
            <img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">
            Export</button>
    </div>

    {% if log_list %}
        <div class="div-page">
        <form method="GET" class="paginate">
            <select name="paginate_by" id="" onchange="this.form.submit();">
                <option value="10" id="pag10">10</option>
                <option value="20" id="pag20">20</option>
                <option value="30" id="pag30">30</option>
                <option value="50" id="pag50">50</option>
            </select>
        </form>

        <script>
        let option = null;
        switch ({{ paginate_by }}){
            case 10:
                option = document.getElementById("pag10");
                break;
            case 20:
                option = document.getElementById("pag20");
                break;
            case 30:
                option = document.getElementById("pag30");
                break;
            case 50:
                option = document.getElementById("pag50");
                break;
        }
        option.selected = true;
        </script>

        <div class="pagination">
    <span class="step-links">
        {% if log_list.has_previous %}
            <a href="?page=1&paginate_by={{ paginate_by }}">&laquo; prvá </a>
            <a href="?page={{ log_list.previous_page_number }}&paginate_by={{ paginate_by }}">predchádzajúca</a>
        {% endif %}

        <span class="current">
            {{ log_list.number }}/
            {{ log_list.paginator.num_pages }}
        </span>

        {% if log_list.has_next %}
            <a href="?page={{ log_list.next_page_number }}&paginate_by={{ paginate_by }}">ďalšia</a>
            <a href="?page={{ log_list.paginator.num_pages }}&paginate_by={{ paginate_by }}">posledná &raquo;</a>
        {% endif %}
    </span>
        </div>
        </div>
        <table>
            <tr>
                <th>Vytvorené</th>
                <th>Typ</th>

                <th>Úroveň</th>
                <th>Používateľ</th>
                <th>Informácie</th>
            </tr>

            {% for log in log_list %}

                <tr>
                    <td>{{ log.action_time }}</td>
                    <td>{{ log.app }}</td>
                    <td>{{ log.priority }}</td>
                    <td>{{ log.user }} </td>
                    <td>{{ log.text }}</td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žiadne udalosti nie sú k dispozícií.</p>
    {% endif %}

{% endblock %}
