{% extends "base.html" %}


{% block content %}

    <h1>Hlavná stránka</h1>


    {% if log_list %}
        <table>
                <tr>
                    <th>Používateľ</th>
                    <th>Priorita</th>

                    <th>Čas akcie</th>
                    <th>typ</th>
                    <th>informácie</th>
                </tr>
            {% for log in log_list %}

                    <tr>
                        <td>{{ log.user }} </td>
                        <td>{{ log.priority }}</td>
                        <td>{{ log.action_time }}</td>
                        <td>{{ log.app }}</td>
                        <td>{{ log.text }}</td>

                    </tr>
            {% endfor %}
        </table>
    {% else %}
            <p>Žiadne logy nie sú k dispozícií.</p>
    {% endif %}

{% endblock %}
