{% extends "common/base.html" %}
{% load static %}

{% block content %}


    <h1>Používateľský profil</h1>
         {% if logs_sys_l %}
        <table>
                <tr>
                    <td>Osobné údaje</td>
                </tr>
                <tr>
                    <td>Meno a priezvisko</td>
                </tr>
                <tr>
                    <td>Titul</td>
                </tr>
                <tr>
                    <td>Kontakty</td>
                <tr>
                    <td>Telefónne číslo</td>
                </tr>
                <tr>
                    <td>Email</td>
                </tr>
                <tr>
                    <td>Detaily</td>
                </tr>
                <tr>
                    <td>Identifikačné číslo</td>
                </tr>
                <tr>
                    <td>Dátum vytvorenia hesla</td>
                </tr>
                <tr>
                    <td>Používateľská skupina</td>
                </tr>
                <tr>
                        <td>
                            <button type="button">Zmena hesla</button>
                            <button type="button">Uložiť </button>

                        </td>

            </table>
        {% else %}
            <p>Žiaden používateľský profil nebol vytvorený.</p>
        {% endif %}

{% endblock %}