{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prebaľovanie{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/GEFCO_logo.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?version=53">
    <link rel="stylesheet" href="{% static 'image-picker.css' %}">
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'image-picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'image-picker.min.js'%}"></script>
</head>

<body>

    <script src="{% static 'operator-managment.js' %}"></script>

    <!-- Navod implementacie dropdown menu v static man_drop_menu.txt -->

<nav>
    <a href="/"><img id="gefco" src="{% static 'GEFCO_Logo.svg' %}" alt="GEFCO logo"></a>
    {% if user.is_authenticated %}
        {% if perms.accounts.sku_managment %}
            <div class="dropdown">
                <button class="dropbtn"><img id="nav-image" src="{% static 'icons/2931150_home_furniture_office_architecture_house_homepage_building.png' %}">Hlavné údaje</button>
                <div class="dropdown-content">
                    <a href="/repacking/sku/">Nastavenie SKU</a>
                </div>
            </div>
        {% endif %}
        <div class="dropdown">
            <button class="dropbtn"><img id="nav-image" src="{% static 'icons/2931141_archive_folder_storage_data_files.png' %}">Prebal</button>
            <div class="dropdown-content">
                <a href="/repacking/start/">Spustenie prebaľovania</a>
            </div>
        </div>
        {% if perms.accounts.history %}
            <div class="dropdown">
                <button class="dropbtn"><img id="nav-image" src="{% static 'icons/2931180_info_service_about_support_chat_information.png' %}">Operatíva</button>
                <div class="dropdown-content">
                    <a href="/repacking/history/">História prebaľovania</a>
                    <a href="/mails/index/">Nastavenie exportov</a>
                </div>
            </div>
        {% endif %}
        {% if perms.accounts.user_managment %}
            <div class="dropdown">
                <button class="dropbtn"><img id="nav-image" src="{% static 'icons/2931147_user_user_face_avatar_account_head_profile_head_account_profile_face_avatar_human.png' %}">Prístup</button>
                    <div class="dropdown-content">
                    <a href="/accounts/user_list/">Používatelia</a>
                    <a href="/accounts/groups_list/">Skupiny</a>
                    <a href="/accounts/profile/">Profil</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><img id="nav-image" src="{% static 'icons/2931152_control_tools_repair_settings_gear_adjust_setup.png' %}">Nastavenie</button>
                <div class="dropdown-content">
                    <a href="/logs/">Udalosti</a>
                </div>
            </div>
        {% endif %}
        {#	<a href="/repacking/sku">Nastavenie SKU</a>#}
        {#    <a href="/repacking/history">História prebalov</a>#}
        {#    <a href="/repacking/standards/new/">Nový štandard</a>#}
        {#    <a href="/logs/">Systémové logy</a>#}
    {% endif %}

    {% if user.is_authenticated %}
        <a class="user" href="/accounts/logout/"> Ahoj {{ user.username }}, ODHLÁSIŤ SA</a>
    {% else %}
        <a class="user" href="/accounts/login/">PRIHLÁSIŤ SA</a>
    {% endif %}


</nav>
<div class="content">
    {% block content %}



    {% endblock %}
</div>
<footer>
    <p>(c) 2021, 3ML</p>
    <img id="gefco" src="{% static 'GEFCO_Logo.svg' %}" alt="GEFCO logo">
</footer>

</body>
</html>