{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?version=53">
</head>

<body>

<!-- Navod implementacie dropdown menu v static man_drop_menu.txt -->

<nav>
    <a href="/"><img id="gefco" src="{% static 'GEFCO_Logo.svg' %}" alt="GEFCO logo"></a>
    <div class="dropdown">
        <button class="dropbtn">Hlavné údaje</button>
        <div class="dropdown-content">
            <a href="/repacking/sku/">Nastavenie SKU</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Prebal</button>
        <div class="dropdown-content">
            <a href="/repacking/start/">Spustenie prebaľovania</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Operatíva</button>
        <div class="dropdown-content">
            <a href="/repacking/history/">História prebaľovania</a>
            <a href="#">Nastavenie exportov</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Prístup</button>
        <div class="dropdown-content">
            <a href="#">Používatelia</a>
            <a href="#">Skupiny</a>
            <a href="#">Práva</a>
            <a href="#">Profil</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Nastavenie</button>
        <div class="dropdown-content">
            <a href="/logs/">Udalosti</a>
        </div>
    </div>
    {#	<a href="/repacking/sku">Nastavenie SKU</a>#}
    {#    <a href="/repacking/history">História prebalov</a>#}
    {#    <a href="/repacking/standards/new/">Nový štandard</a>#}
    {#    <a href="/logs/">Systémové logy</a>#}


    {% if user.is_authenticated %}

        <a class="user" href="/accounts/logout/"> Hi {{ user.username }}, LOGOUT</a>
    {% else %}
        <a class="user" href="/accounts/login/">LOGIN</a>
    {% endif %}

</nav>
<div class="content">
    {% block content %}



    {% endblock %}
</div>
<footer>
    <p>(c) 2021, 3ML</p>
    <img id="gefco" src="{% static 'GEFCO_Logo.svg' %}" alt="GEFCO logo">
</footer>

</body>
</html>