{% extends "base.html" %}


{% block content %}

    <h1>Detail štandardu {{ standard.SKU }}</h1>

    <a class="active-btn" href="{% url 'start' %}">Začni prebal</a>

    <table class="standard-table">
        <tr>
            <td colspan="2" class="main-info">Referencia:</td>
            <td colspan="2" class="main-info">Cofor:</td>
            <td colspan="2" class="main-info">Dodávateľ:</td>
            <td colspan="2" class="main-info">Destinácia:</td>
        </tr>
        <tr>
            <td colspan="2" class="sku-code">{{ standard.SKU }}</td>
            <td colspan="2">{{ standard.COFOR }}</td>
            <td colspan="2">{{ standard.supplier }}</td>
            <td colspan="2">{{ standard.destination }}</td>
        </tr>
        <tr>
            <td colspan="4" class="input-info">Balenie na príjme</td>
            <td colspan="4" class="output-info">Balenie na expedícii</td>
        </tr>
        <tr>
            <td colspan="4">
                {% if standard.input_photos.all %}
                    {% for photo in standard.input_photos.all %}
                        <img src='{{ photo.photo.url }}' alt='Balenie na príjme' height="250px">
                    {% endfor %}
                {% else %}
                    Žiadne fotky
                {% endif %}
            </td>
            <td colspan="4">
                {% if standard.output_photos.all %}
                    {% for photo in standard.output_photos.all %}
                        <img src='{{ photo.photo.url }}' alt='Balenie na výstupe' height="250px">
                    {% endfor %}
                {% else %}
                    Žiadne fotky
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                OPP:
            </td>
            <td colspan="7">
                {% if standard.tools.all %}
                    {% for photo in standard.tools.all %}
                        <img src='{{ photo.photo.url }}' alt='OPP' height="50px">
                    {% endfor %}
                {% else %}
                    Žiadne fotky
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="input-info">Typ balenia:</td>
            <td>{{ standard.input_type_of_package }}</td>
            <td class="input-info">Počet boxov na palete:</td>
            <td>{{ standard.input_count_of_boxes_on_pallet }}</td>
            <td  class="output-info">Typ balenia:</td>
            <td>{{ standard.output_type_of_package }}</td>
            <td  class="output-info">Počet boxov na palete:</td>
            <td>{{ standard.output_count_of_boxes_on_pallet }}</td>
        </tr>
        <tr>
            <td class="input-info">Počet kusov v balení:</td>
            <td>{{ standard.input_count_of_items_in_package }}</td>
            <td class="input-info">Počet kusov na palete:</td>
            <td>{{ standard.input_count_of_items_on_pallet }}</td>
            <td  class="output-info">Počet kusov v balení:</td>
            <td>{{ standard.output_count_of_items_in_package }}</td>
            <td  class="output-info">Počet kusov na palete:</td>
            <td>{{ standard.output_count_of_items_on_pallet }}</td>
        </tr>
        <tr>
            <td class="main-info">Počet kusov na 1 pohyb:</td>
            <td>{{ standard.items_per_move }}</td>
            <td class="main-info">Jednotková váha:</td>
            <td>{{ standard.unit_weight }}</td>
            <td class="main-info">Čas prebalu:</td>
            <td>{{ standard.repacking_duration }}</td>
            <td colspan="2"  class="main-info">Poznámka:</td>
        </tr>
        <tr>
            <td colspan="8">{{ standard.instructions }}</td>
        </tr>
    </table>

{% endblock %}
