{% extends "base.html" %}
{% load static %}

{% block content %}

    <script>
        function open_close_filter_menu() {
            let filter = document.getElementById('filter')
            if (filter.style.display == 'flex') {
                filter.style.display = 'none';
            } else {
                filter.style.display = 'flex';
            }
        }
    </script>

    <h1>História prebalov</h1>

    <div class="filter_div">
        <button class="dropbtn_filter" onclick="open_close_filter_menu()">Filter</button>
        <form method="get" id="filter" {% if open_filter %}
             style="display: flex" {% else %} style="display: none"
        {% endif %}>
            {{ repack_history_filter.form.as_p }}
            <div>
                <button type="submit" class="active-btn">
                <img id="btn-image" src="{% static 'icons/2931184_glass_search_magnifying_magnifier_zoom_regular_normal.png' %}">
                Vyhľadať</button>
                <button type="button" class="active-btn" onclick="location.href='/repacking/history/'">
                <img id="btn-image" src="{% static 'icons/2931151_delete_x_bin_recycle_remove_exit_close.png' %}">
                Vymazať</button>
            </div>
        </form>
    </div>

    <div class="btn-group">
        <button type="button" class="active-btn" onclick="location.href='/repacking/history/export/'">
            <img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">
            Export</button>
    </div>

    {% if repacking_history_list %}
        <div class="div-page">
        <form method="GET" class="paginate">
            <select name="paginate_by" id="paginate" onchange="location.href='?paginate_by='+document.getElementById('paginate').value+'{{ filter_GET }}';">
                <option value="10" id="pag10">10</option>
                <option value="20" id="pag20">20</option>
                <option value="30" id="pag30">30</option>
                <option value="50" id="pag50">50</option>
            </select>
        </form>

        <script>
        let option = null;
        switch ({{ paginate_by }}){
            case 10:
                option = document.getElementById("pag10");
                break;
            case 20:
                option = document.getElementById("pag20");
                break;
            case 30:
                option = document.getElementById("pag30");
                break;
            case 50:
                option = document.getElementById("pag50");
                break;
        }
        option.selected = true;
        </script>

        <div class="pagination">
    <span class="step-links">
        {% if repacking_history_list.has_previous %}
            <a href="?page=1&paginate_by={{ paginate_by }}{{ filter_GET }}">&laquo; prvá</a>
            <a href="?page={{ repacking_history_list.previous_page_number }}&paginate_by={{ paginate_by }}{{ filter_GET }}">predchádzajúca</a>
        {% endif %}

        <span class="current">
            {{ repacking_history_list.number }}/
            {{ repacking_history_list.paginator.num_pages }}
        </span>

        {% if repacking_history_list.has_next %}
            <a href="?page={{ repacking_history_list.next_page_number }}&paginate_by={{ paginate_by }}{{ filter_GET }}">ďalšia</a>
            <a href="?page={{ repacking_history_list.paginator.num_pages }}&paginate_by={{ paginate_by }}{{ filter_GET }}">posledná &raquo;</a>
        {% endif %}
    </span>
        </div>
        </div>
        <table>
            <th>SKU</th>
            <th>COFOR</th>

            <th>Destinácia</th>
            <th>Dodávateľ</th>
            <th>Typ obalu OUT</th>
            <th>Počet ks v balení OUT</th>
            <th>Počet boxov na palete OUT</th>
            <th>Počet kusov na palete OUT</th>
            <th>Počet kusov na jeden pohyb</th>
            <th>Jednotková váha dielu</th>
            <th>Čas prebalu</th>

            <th>Začiatok prebalu</th>
            <th>Koniec prebalu</th>
            <th>Celkový čas prebalu</th>
            <th>Operátor</th>

            {% for repack in repacking_history_list %}
                <tr>
                    <td>{{ repack.repacking_standard.SKU }}</td>
                    <td>{{ repack.repacking_standard.COFOR }}</td>
                    <td>{{ repack.repacking_standard.destination }}</td>
                    <td>{{ repack.repacking_standard.supplier }}</td>
                    <td>{{ repack.repacking_standard.output_type_of_package }}</td>
                    <td>{{ repack.repacking_standard.output_count_of_items_in_package }}</td>
                    <td>{{ repack.repacking_standard.output_count_of_boxes_on_pallet }}</td>
                    <td>{{ repack.repacking_standard.output_count_of_items_on_pallet }}</td>
                    <td>{{ repack.repacking_standard.items_per_move }}</td>
                    <td>{{ repack.repacking_standard.unit_weight }}</td>
                    <td>{{ repack.repacking_standard.repacking_duration }}</td>

                    <td>{{ repack.repack_start }}</td>
                    <td>{{ repack.repack_finish }}</td>
                    <td>{{ repack.repack_duration }}</td>
                    <td>{{ repack.users.all|join:", " }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žiadne údaje nie sú k dispozícií.</p>
    {% endif %}

{% endblock %}
