{% extends "base.html" %}

{% block title %} Nový štandard {% endblock %}

{% block content %}

    {% if form %}
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Pridaj štandard">
        </form>
    {% endif %}

    <script>
        let input_photos = document.getElementById('id_input_photos');
        let input_button = $e("button", [["type", "button"], ["class", "inactive-btn"], ["onclick",
            "document.getElementById('id_input_photos').value = ''; input_button.className = 'inactive-btn'"]], input_photos.parentElement);
        input_button.innerHTML = "X";
        input_photos.onchange = function () {
            input_button.className = "active-btn";
        }
        let output_photos = document.getElementById('id_output_photos');
        let output_button = $e("button", [["type", "button"], ["class", "inactive-btn"], ["onclick",
            "document.getElementById('id_output_photos').value = ''; output_button.className = 'inactive-btn'"]], output_photos.parentElement);
        output_button.innerHTML = "X";
        output_photos.onchange = function (e) {
            output_button.className = "active-btn";
        }
        let tools = document.getElementById('id_tools');
        let tool_button = $e("button", [["type", "button"], ["class", "inactive-btn"], ["onclick",
            "document.getElementById('id_tools').value = ''; tool_button.className = 'inactive-btn'"]], tools.parentElement);
        tool_button.innerHTML = "X";
        tools.onchange = function (e) {
            tool_button.className = "active-btn";
        }

        input_photos.parentElement.innerHTML += `<p>
            <select multiple="multiple" class="image-picker show-html" name="existing_output_photos">
                {% for photo in photos %}
                    <option data-img-src="{{ photo.photo.url }}" value="{{ photo.id }}">{{ photo.id }}</option>
                {% endfor %}
            </select>
        </p>`;
        output_photos.parentElement.innerHTML += `<p>
            <select multiple="multiple" class="image-picker show-html" name="existing_input_photos">
                {% for photo in photos %}
                    <option data-img-src="{{ photo.photo.url }}" value="{{ photo.id }}">{{ photo.id }}</option>
                {% endfor %}
            </select>
        </p>`;
        tools.parentElement.innerHTML += `<p>
            <select multiple="multiple" class="image-picker show-html" name="existing_tools">
                {% for tool in tools %}
                    <option data-img-src="{{ tool.photo.url }}" value="{{ tool.id }}">{{ tool.id }}</option>
                {% endfor %}
            </select>
        </p>`;
    </script>
    <script>
        $("select").imagepicker();
    </script>
{% endblock %}