{% extends "base.html" %}
{% block title %} Pozastavený prebal {% endblock %}


{% load static %}

    {% block content %}

    <h1>Prebaľovanie pozastavené</h1>

        <div class="btn-group">
        <button type="button" class="active-btn" style="width: fit-content"
                onclick="location.href='/repacking/{{ sku_code }}/{{ idp_code }}/{{ operators }}/';">
            <img id="btn-image" src="{% static 'icons/211876_play_icon.png' %}">
            Pokračuj v prebale</button>
    </div>

    <p>
    SKU aktuálne prebaľovaného štandardu: {{ sku_code }}<br>
    IDP aktuálne prebaľovaného štandardu: {{ idp_code }}
    </p>
    {% endblock %}
