{% extends "base.html" %}
{% load static %}

{% block content %}

    <script>
        function open_close_filter_menu() {
            let filter = document.getElementById('filter')
            if (filter.style.display == 'flex') {
                filter.style.display = 'none';
            } else {
                filter.style.display = 'flex';
            }
        }
    </script>

    <h1>Nastavenie SKU</h1>

    <div class="filter_div">
        <button class="dropbtn_filter" onclick="open_close_filter_menu()">Filter</button>
        <form method="get" id="filter" {% if open_filter %}
             style="display: flex"
        {% endif %}>
            {{ standards_filter.form.as_p }}
            <div>
                <button type="submit" class="active-btn">
                    <img id="btn-image" src="{% static 'icons/2931184_glass_search_magnifying_magnifier_zoom_regular_normal.png' %}">Vyhľadať
                </button>
                <button type="button" class="active-btn" onclick="location.href='/repacking/standards/'">
                    <img id="btn-image" src="{% static 'icons/2931151_delete_x_bin_recycle_remove_exit_close.png' %}">Vymazať
                </button>
            </div>
            <select name="paginate_by" id="" onchange="this.form.submit();">
                <option value="10" id="pag10">10</option>
                <option value="20" id="pag20">20</option>
                <option value="30" id="pag30">30</option>
                <option value="50" id="pag50">50</option>
            </select>
            <script>
                let option = null;
                switch ({{ paginate_by }}){
                    case 10:
                        option = document.getElementById("pag10");
                        break;
                    case 20:
                        option = document.getElementById("pag20");
                        break;
                    case 30:
                        option = document.getElementById("pag30");
                        break;
                    case 50:
                        option = document.getElementById("pag50");
                        break;
                }
                option.selected = true;
            </script>
        </form>
    </div>

    <div class="btn-group">
        <button type="button" class="active-btn" onclick="location.href='/repacking/sku/export/';">
            <img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">
            Export</button>
        <button type="button" class="active-btn" style="width: 140px" onclick="location.href='/repacking/standards/new/';">
            <img id="btn-image" src="{% static 'icons/2931155_attach_new_maximize_add_create_plus.png' %}">
            Pridať nový</button>
    </div>

    {% if repacking_standards_list %}
        <div class="div-page">


        <div class="pagination">
    <span class="step-links">
        {% if repacking_standards_list.has_previous %}
            <a href="?page=1&paginate_by={{ paginate_by }}{% if querystring %}&amp;{{ querystring }}{% endif %}">&laquo; prvá</a>
            <a href="?page={{ repacking_standards_list.previous_page_number }}&paginate_by={{ paginate_by }}{% if querystring %}&amp;{{ querystring }}{% endif %}">predchádzajúca</a>
        {% endif %}

        <span class="current">
            {{ repacking_standards_list.number }}/
            {{ repacking_standards_list.paginator.num_pages }}
        </span>

        {% if repacking_standards_list.has_next %}
            <a href="?page={{ repacking_standards_list.next_page_number }}&paginate_by={{ paginate_by }}{% if querystring %}&amp;{{ querystring }}{% endif %}">ďalšia</a>
            <a href="?page={{ repacking_standards_list.paginator.num_pages }}&paginate_by={{ paginate_by }}{% if querystring %}&amp;{{ querystring }}{% endif %}">posledná &raquo;</a>
        {% endif %}
    </span>
        </div>
        </div>
        <table>
            <tr>
                <th>Akcia</th>
                <th>SKU</th>
                <th>COFOR</th>
                <th>Destinácia</th>
                <th>ks IN</th>
                <th>ks OUT</th>
                <th>obal IN</th>
                <th>obal OUT</th>
                <th>boxy IN</th>
                <th>boxy OUT</th>
                <th>kg/ks</th>
                <th>Čas prebalu</th>
                <th>Vytvoril</th>
                <th>Čas vytvorenia</th>
                <th>Poznámka</th>
            </tr>
            {% for standard in repacking_standards_list %}

                <tr>
                    <td>
                        <button type="button" class="active-btn" onclick="location.href='/repacking/{{ standard.SKU }}/';" >
                            <img id="btn-image" src="{% static 'icons/2931184_glass_search_magnifying_magnifier_zoom_regular_normal.png' %}">
                            Detail</button>
                        <button type="button" class="active-btn" onclick="location.href='/repacking/update/{{ standard.SKU }}/';" >
                            <img id="btn-image" src="{% static 'icons/2931178_creative_edit_pencil_change_draw_design_pen.png' %}">
                            Editovať</button>
                        <button type="button" class="active-btn"
                                onclick="if(confirm('Chcete naozaj vymazať štandard?')){window.location.href='/repacking/delete/{{ standard.SKU }}/'}">
                            <img id="btn-image" src="{% static 'icons/2931151_delete_x_bin_recycle_remove_exit_close.png' %}">
                            Vymazať
                        </button>
                    </td>
                    <td>{{ standard.SKU }}</td>
                    <td>{{ standard.COFOR }}</td>
                    <td>{{ standard.destination }}</td>
                    <td>{{ standard.input_count_of_items_in_package }}</td>
                    <td>{{ standard.output_count_of_items_in_package }}</td>
                    <td>{{ standard.input_type_of_package }}</td>
                    <td>{{ standard.output_type_of_package }}</td>
                    <td>{{ standard.input_count_of_boxes_on_pallet }}</td>
                    <td>{{ standard.output_count_of_boxes_on_pallet }}</td>
                    <td>{{ standard.unit_weight }}</td>
                    <td>{{ standard.repacking_duration }}</td>
                    <td>{{ standard.creator }}</td>
                    <td>{{ standard.created }}</td>
                    <td class="instructions">{{ standard.instructions }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žiadne štandardy nie sú k dispozícií.</p>
    {% endif %}


{% endblock %}