{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Spustenie prebaľovania</h1>

    <form method="post" id="repack-start">
        {% csrf_token %}
        {{ form }}
        <button type="button" class="active-btn" onclick="add_operator()" id="add-operator">+</button>
        <button type="button" class="active-btn" onclick="remove_last_operator()" id="remove-operator">X</button>
        <button type="submit" class="active-btn" style="float: right; width: 140px">Začni prebal</button>
    </form>

{% endblock %}