{% extends "base.html" %}
{% load static %}
{% block title %} Skupiny {% endblock %}


{% block content %}

    <h1>Zoznam skupín</h1>

     <div class="btn-group">
        <button type="button" class="active-btn" onclick="location.href='/accounts/groups_list/export/';">
            <img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">
            Export</button>
        <button type="button" class="active-btn" style="width: fit-content" onclick="location.href='/admin/auth/group/add/';">
            <img id="btn-image" src="{% static 'icons/2931155_attach_new_maximize_add_create_plus.png' %}">
            Pridať skupinu</button>
    </div>

    <table>
    <tr>
        <th>Akcie</th>
        <th>Meno</th>
        <th>Počet užívateľov</th>
    </tr>
    {% for group in groups %}
        <tr>
            <td>
                <button type="button" class="active-btn" onclick="location.href='/admin/auth/group/{{ group.id }}/change/';" >
                    <img id="btn-image" src="{% static 'icons/2931178_creative_edit_pencil_change_draw_design_pen.png' %}">
                    Editovať
                </button>
            </td>
            <td>{{ group.name }}</td>
            <td>{{ group.user_set.count }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}