{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Zoznam skupín</h1>

    <div class="btn-group">
        <button type="button" class="active-btn"><a href="/accounts/groups_list/export/"><img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">Export</a></button>
    </div>

    <table>
    <tr>
        <th>Akcie</th>
        <th>Meno</th>
        <th>Počet užívateľov</th>
    </tr>
    {% for group in groups %}
        <tr>
            <td>
                <a href="/admin/auth/group/{{ group.id }}/change/" class="active-btn"><img id="btn-image" src="{% static 'icons/2931178_creative_edit_pencil_change_draw_design_pen.png' %}">Editovať</a>
            </td>
            <td>{{ group.name }}</td>
            <td>{{ group.user_set.count }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}