{% extends "base.html" %}
{% load static %}

{% block content %}

    <script>
        function open_close_filter_menu() {
            let filter = document.getElementById('filter')
            if (filter.style.display == 'flex') {
                filter.style.display = 'none';
            } else {
                filter.style.display = 'flex';
            }
        }
    </script>

    <h1>Zoznam používateľov</h1>

    <div class="filter_div">
        <button class="dropbtn_filter" onclick="open_close_filter_menu()">Filter</button>
        <form method="get" id="filter" style="display: none">
            {{ users_filter.form.as_p }}
            <div>
                <button type="submit" class="active-btn"><img id="btn-image"
                                                              src="{% static 'icons/2931184_glass_search_magnifying_magnifier_zoom_regular_normal.png' %}">Vyhľadať
                </button>
                <button type="button" class="active-btn"><a href="index/"><img id="btn-image"
                                                                               src="{% static 'icons/2931151_delete_x_bin_recycle_remove_exit_close.png' %}">Vymazať</a>
                </button>
            </div>
        </form>
    </div>

    <div class="btn-group">
        <button type="button" class="active-btn"><a href="/accounts/user_list/export/">
              <img id="btn-image" src="{% static 'icons/2931143_up_upload_export_share.png' %}">Export
         </a></button>
    </div>

    {% if users_list %}

        <form method="GET">
            <select name="paginate_by" id="">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <input type="submit" value="Paginate" class="active-btn">
        </form>
        <div class="pagination">
    <span class="step-links">
        {% if users_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ users_list.number }}/
            {{ users_list.paginator.num_pages }}
        </span>

        {% if users_list.has_next %}
            <a href="?page={{ users_list.next_page_number }}">next</a>
            <a href="?page={{ users_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
        <table>
            <tr>
                <th>Akcie</th>
                <th>Používateľské meno</th>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Čiarový kód</th>
                <th>Blokovaný</th>
            </tr>
            {% for user in users_list %}
                <tr>
                    <td>
                        <a href="/admin/accounts/user/{{ user.id }}/change/" class="active-btn"><img id="btn-image"
                                                                                                     src="{% static 'icons/2931178_creative_edit_pencil_change_draw_design_pen.png' %}">Editovať</a>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.barcode }}</td>
                    <td>
                        {% if user.is_active %}
                            Nie
                        {% else %}
                            Áno
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žiadny používatelia nie sú k dispozícií.</p>
    {% endif %}

{% endblock %}