/* base.html css */
@font-face {
    font-family: UniviaPro-regular;
    src: url("UniviaPro-Regular.otf");
}

body{
    font-family: UniviaPro-regular;
}

.content{
    margin-top: 60px;
    margin-bottom: 80px;
}

a{
    text-decoration: none;
}

/* navigation css */

nav{
    background-color: #00538b;
    margin: 0px 0px 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

nav #gefco{
    width: 80px;
}

.dropbtn{
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: UniviaPro-regular;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(0, 82, 139);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    font-size: 20px;
    color: #ffffff;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: gray;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ffcd00;
}

nav a{
    font-size: 20px;
    color: #ffffff;
    margin: 0px 10px 0px 10px;
}

nav a:hover{
    color: #ffcd00;
}

nav .user{
    float: right;
    padding: 10px 0px;
    margin-right: 20px;
}

#nav-image{
    height: 25px;
    margin-right: 5px;
    margin-top: 5px;
    filter: invert(100%);
}

#btn-image{
    height: 20px;
    margin: 0px 5px 0px 0px;
    filter: invert(100%);
}

/* navigation css */

h1{
    margin-left: 20px;
}

footer{
    margin-top: 10px;
    border-top: 2px solid #ffcd00;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    display: inline;
    margin-left: 20px;
    float: left;
}

footer #gefco{
    display: inline;
    float: right;
}

/* end of base.html css */

/* tables css */

table{
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    padding: 8px;
    /*min-width: 600px;*/
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin-left: auto;
    margin-right: auto;
}

td, tr, th{
    text-align: center;
    padding: 12px 7px;
    margin: 0;
    font-size: 14px;
}

td, th{
    border-right: 1px solid #777777;
}

th{
    position: sticky;
    z-index: 0;
    top: 43px;
    border-bottom: 3px solid rgba(0,0,0,0.55);
    background-color: #ffcd00;
    font-weight: bold;
    font-size: 16px;
}

td:last-child, th:last-child{
    border-right: none;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: rgba(256,205,0,0.5);
}

/* end of tables css */

/* forms css */

form{
    border: 1px solid gray;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input{
    font-family: UniviaPro-regular;
    font-size: 16px;
    width: 95%;
    padding: 5px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

input[type=submit]{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #00538b;
    border: none;
    color: #ffcd00;
    padding: 10px 30px;
    border-radius: 10px;
}

/* end of forms css */

/* buttons */

button{
    padding: 5px 10px;
    font-family: UniviaPro-regular;
    font-size: 17px;
    width: 120px;
    margin-bottom: 3px;
    border: 1px solid #00538b;
    border-radius: 5px;
    background-color: #00538b;
}

button a{
    color: #ffcd00;
    font-family: UniviaPro-regular;
    font-size: 17px;
}

.inactive-btn{
    padding: 5px 10px;
    font-family: UniviaPro-regular;
    font-size: 17px;
    width: 120px;
    margin-bottom: 3px;
    border: 1px solid #00538b;
    border-radius: 5px;
    background-color: #00538b;
    color: red;
}

.active-btn, .repack-btn{
    padding: 5px 10px;
    font-family: UniviaPro-regular;
    font-size: 17px;
    width: 140px;
    margin-bottom: 3px;
    border: 1px solid #00538b;
    border-radius: 5px;
    background-color: #00538b;
    color: #ffcd00;
    cursor: pointer;
}

#start-repack-btn{
    float: right;
    width: 160px
}

.active-btn:hover, .active-btn:hover a{
    color: white;
}

.repack-btn-group{
    margin-top: 70px;
    margin-bottom: 10px;
}

.btn-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* end of buttons */

/* filters */

.filter_div{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding: 10px;
}

.dropbtn_filter{
    display: block;
    background-color: #00538b;
    color: #ffcd00;
    font-family: UniviaPro-regular;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid #00538b;
    border-radius: 10px;
}

.dropbtn_filter:hover {
    color: white;
}

#filter{
    display: none;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

#filter input{
    width: 80%;
}

#filter select{
    width: 90%;
}

/* custom filter css*/

#filter p{
    width: auto;
    flex-basis: 12%;
    margin-right: auto;
}
#filter div{
    justify-self: flex-end;
    margin: auto 10px auto auto;
}

/* end of custom filter css*/

#filter button{
    margin-top: 20px;
    margin-right: 10px;
}

/* end of filters */

/* standard detail */

.standard-table td{
    border: 1px solid black;
    margin: 10px;
}

.main-info{
    background-color: #f3d39b;
    font-size: 14px;
}

.sku-code{
    font-size: 26px;
    color: #00538b;
}

.input-info{
    background-color: #b3e4f3;
    font-size: 14px;
}

.output-info{
    background-color: #b9e5a0;
    font-size: 14px;
}

.instructions{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* end of standard detail */

/* login */

#login{
    position: absolute;
    left: 25%;
    top: 25%;
}

#login-btn{
    width: 150px;
    margin-top: 5px;
}

/* end of login */